* {
    margin: 0px;
    padding: 0px;
  }
  
  
  .company-logo-icon {
    position: relative;
    width: 160px;
    height: 48px;
  }
  
  .text {
    position: relative;
    line-height: 24px;
    font-weight: 600;
  }
  
  .chevron-down-icon {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  
  .button,
  .button-base {
    display: flex;
    flex-direction: row;
  }
  
  .button-base {
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  
  .button {
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .dropdown-header-navigation-tri,
  .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .dropdown-header-navigation-tri {
    flex-direction: column;
    padding: var(--padding-9xs) 0;
  }
  
  .navigation {
    flex-direction: row;
    gap: var(--gap-21xl);
  }
  
  .search-icon {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .content,
  .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .input {
    align-self: stretch;
    border-radius: var(--br-5xs);
    box-shadow: var(--shadow-xs);
    justify-content: flex-end;
    padding: var(--padding-xs);
  }
  
  .container,
  .input-with-label {
    width: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    width: 1280px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-13xl);
    box-sizing: border-box;
  }
  
  .dropdown-header-navigation,
  .header {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header {
    height: 80px;
    text-align: left;
    font-size: var(--body-b2-bold-size);
    color: var(--neutral-n0);
    font-family: var(--text-xl-regular);
  }
  
  .dropdown-header-navigation {
    border-bottom: 1px solid #f2f4f7;
    box-sizing: border-box;
  }
  
  .heading {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 72px;
    font-weight: 600;
  }
  
  .heading-and-badge {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .supporting-text {
    position: relative;
    font-size: var(--text-xl-regular-size);
    line-height: 30px;
    color: #e3e3e3;
    display: inline-block;
    width: 768px;
  }
  
  .heading-and-supporting-text {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  
  .text4 {
    position: relative;
    line-height: 28px;
    font-weight: 600;
  }
  
  .arrow-forward-icon {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .button-base4,
  .button4 {
    border-radius: var(--br-5xs);
    flex-direction: row;
  }
  
  .button-base4 {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: var(--shadow-xs);
    border: 1px solid #ffe500;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base) 28px;
    gap: var(--gap-5xs);
  }
  
  .button4 {
    align-items: flex-start;
  }
  
  .actions,
  .button4,
  .container1,
  .content1,
  .hero {
    display: flex;
    justify-content: flex-start;
  }
  
  .actions {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    font-size: var(--text-lg-semibold-size);
  }
  
  .container1,
  .content1,
  .hero {
    flex-direction: column;
    align-items: center;
  }
  
  .content1 {
    align-self: stretch;
    gap: var(--gap-29xl);
  }
  
  .container1,
  .hero {
    width: 1440px;
    box-sizing: border-box;
  }
  
  .container1 {
    padding: 0 var(--padding-141xl);
  }
  
  .hero {
    height: 728px;
    overflow: hidden;
    flex-shrink: 0;
    padding: 0 0 232px;
    gap: 152px;
    background-image: url(./images/hero@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-size: var(--display-xl-semibold-size);
    color: var(--neutral-n0);
  }
  
  .heading1 {
    align-self: stretch;
    position: relative;
    line-height: 40px;
    font-weight: 600;
  }
  
  .heading-and-subheading {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .supporting-text1 {
    align-self: stretch;
    position: relative;
    font-size: var(--text-xl-regular-size);
    line-height: 30px;
    color: var(--gray-500);
  }
  
  .container2,
  .heading-and-supporting-text1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .heading-and-supporting-text1 {
    width: 768px;
    align-items: center;
    gap: var(--gap-xl);
  }
  
  .container2 {
    align-self: stretch;
    align-items: flex-start;
    padding: 0 var(--padding-13xl);
  }
  
  .card {
    position: absolute;
    height: 615px;
    width: 100%;
    top: 0.12%;
    right: 0.16%;
    bottom: 0.05%;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--neutral-n0);
  }
  
  .testimonial-paragraph {
    position: absolute;
    top: 63.1%;
    left: 9.09%;
    line-height: 27px;
  }
  
  .container-icon,
  .image-placeholder {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
  }
  
  .container-icon {
    height: 100%;
    top: 0;
    bottom: 0;
    border-radius: 21.82px 21.82px 0 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  
  .image-placeholder {
    height: 58.96%;
    top: 0.12%;
    bottom: 40.92%;
  }
  
  
  .learn-more {
    text-decoration: none;
    color: var(--secondary-teal);
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
  }
  
  
  .right-arrow-24-outline {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .link,
  .paragraph {
    position: absolute;
    left: 9.09%;
  }
  
  .link {
    width: 32.95%;
    top: calc(50% + 250.22px);
    right: 57.95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    text-align: center;
    font-size: var(--body-b2-bold-size);
    color: var(--secondary-teal);
  }
  
  .paragraph {
    width: 82.39%;
    top: 69.47%;
    font-size: var(--font-size-sm);
    line-height: 21px;
    color: var(--neutral-n80);
    display: inline-block;
  }
  
  .campaign-card {
    position: relative;
    width: 352px;
    height: 597px;
  }
  
  .features-section,
  .row {
    display: flex;
    justify-content: flex-start;
  }
  
  .row {
    flex-direction: row;
    align-items: flex-start;
    gap: 27px;
    text-align: left;
    font-size: var(--text-lg-semibold-size);
    font-family: var(--body-b2-bold);
  }
  
  .features-section {
    background-color: var(--color-ghostwhite-100);
    width: 1440px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-77xl) var(--padding-141xl);
    box-sizing: border-box;
    gap: var(--gap-29xl);
    font-size: var(--font-size-13xl);
  }
  
  .supporting-text2 {
    align-self: stretch;
    position: relative;
    font-size: var(--text-lg-semibold-size);
    line-height: 27px;
    color: var(--neutral-n80);
  }
  
  .heading-and-supporting-text2 {
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-xl);
  }
  
  .content3,
  .heading-and-supporting-text2,
  .link3 {
    display: flex;
    justify-content: flex-start;
  }
  
  .link3 {
    flex-direction: row;
    align-items: center;
    gap: var(--gap-9xs);
    text-align: center;
    font-size: var(--body-b2-bold-size);
    color: var(--secondary-teal);
    font-family: var(--body-b2-bold);
  }
  
  .content3 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-29xl);
  }
  
  
  .container3 {
    position: relative;
    width: 328px;
    height: 415px;
    overflow: hidden;
    display: inline-block;
    border-radius: var(--br-base);
  }
  
  .image-icon {
    border-radius: var(--br-base);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .container3:hover .image-icon {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  
  .container3:hover {
    transform: scale(1);
  }
  
  .heading3 {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  
  
  
  .heading3 {
    position: relative;
    line-height: 32px;
    font-weight: 600;
    display: inline-block;
    width: 305px;
  }
  
  .column,
  .column1,
  .container3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  
  .column,
  .column1 {
    gap: var(--gap-21xl);
  }
  
  .column1 {
    padding: 140px 0 0;
  }
  
  .features-section1,
  .images {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  
  .images {
    gap: var(--gap-13xl);
    font-size: var(--font-size-5xl);
  }
  
  .features-section1 {
    background-color: var(--neutral-n0);
    width: 1440px;
    overflow: hidden;
    padding: var(--padding-77xl) var(--padding-141xl);
    box-sizing: border-box;
    gap: 64px;
    text-align: left;
    font-size: var(--font-size-13xl);
  }
  
  .company-logo-icon1 {
    position: relative;
    width: 114px;
    height: 37.48px;
  }
  
  .company-logo-icon2 {
    position: relative;
    width: 155px;
    height: 39.79px;
  }
  
  .company-logo-icon3 {
    position: relative;
    width: 137px;
    height: 38.91px;
  }
  
  .company-logo-icon4 {
    position: relative;
    width: 162px;
    height: 40.08px;
  }
  
  .company-logo-icon5 {
    position: relative;
    width: 151px;
    height: 39.61px;
  }
  
  .arrow-back-ios-parent,
  .who-we-are {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow-back-ios-parent {
    flex-direction: row;
    gap: 65px;
  }
  
  .who-we-are {
    background-color: var(--color-ghostwhite-100);
    width: 1440px;
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-61xl) 0;
    box-sizing: border-box;
  }
  
  .heading7 {
    position: relative;
    font-size: var(--font-size-13xl);
    line-height: 40px;
    font-weight: 600;
  }
  
  .paragraph3 {
    position: relative;
    font-size: var(--text-lg-semibold-size);
    line-height: 27px;
    color: var(--neutral-n80);
    display: inline-block;
    width: 613.67px;
  }
  
  .card-heading,
  .paragraph4 {
    position: absolute;
    width: 88.24%;
    left: 5.6%;
    display: inline-block;
  }
  
  .card-heading {
    height: 15.32%;
    top: 52.13%;
    font-size: var(--font-size-5xl);
    line-height: 36px;
    font-weight: 600;
  }
  
  .paragraph4 {
    height: 17.23%;
    top: 69.15%;
    line-height: 24px;
    color: var(--neutral-n80);
  }
  
  .line-roundedpassword-icon {
    position: relative;
    width: 18.22px;
    height: 18.22px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  
  .link4,
  .master-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .master-link {
    align-items: center;
    gap: 5.47px;
  }
  
  .link4 {
    position: absolute;
    top: calc(50% + 188.43px);
    left: calc(50% - 160.45px);
    align-items: flex-start;
    color: var(--secondary-teal);
    font-family: var(--body-b2-bold);
  }
  
  .container-icon3 {
    position: absolute;
    height: 42.77%;
    width: 88.24%;
    top: 4.26%;
    right: 6.16%;
    bottom: 52.98%;
    left: 5.6%;
    border-radius: var(--br-base);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  
  .card3 {
    position: relative;
    border-radius: var(--br-5xl);
    background-color: var(--color-ghostwhite-100);
    width: 356.91px;
    height: 469.13px;
  }
  
  .items,
  .row1,
  .view-all {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .row1 {
    flex-direction: row;
    gap: var(--gap-lgi);
  }
  
  .items,
  .view-all {
    text-align: left;
  }
  
  .items {
    flex-direction: column;
    gap: var(--gap-lgi);
  }
  
  .view-all {
    border-radius: var(--br-9xs);
    border: 1px solid var(--secondary-teal);
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-base);
    font-family: var(--body-b2-bold);
  }
  
  .news,
  .wrapper {
    display: flex;
    align-items: center;
  }
  
  .wrapper {
    background-color: var(--neutral-n0);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-13xl);
  }
  
  .news {
    width: 1440px;
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-61xl) 0;
    box-sizing: border-box;
  }
  
  .paragraph10 {
    position: relative;
    font-size: var(--text-lg-semibold-size);
    line-height: 27px;
    color: var(--neutral-n60);
    display: inline-block;
    width: 498px;
  }
  
  .container7 {
    position: absolute;
    height: 360px;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 21.83px;
    background-color: var(--neutral-n0);
  }
  
  .card-heading6 {
    position: absolute;
    width: 83.51%;
    top: 36.66%;
    left: 8.25%;
    font-size: var(--font-size-5xl);
    line-height: 36px;
    font-weight: 600;
    display: inline-block;
  }
  
  .link10,
  .paragraph11 {
    position: absolute;
    left: 8.22%;
  }
  
  .paragraph11 {
    width: 83.31%;
    top: 51.03%;
    line-height: 24px;
    color: var(--neutral-n60);
    display: inline-block;
  }
  
  .link10 {
    height: 7.11%;
    width: 33.28%;
    top: 87.47%;
    right: 58.5%;
    bottom: 5.41%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--secondary-teal);
    font-family: var(--body-b2-bold);
  }
  
  .container8 {
    position: absolute;
    height: 100%;
    width: 59.46%;
    top: 0;
    right: 40.54%;
    bottom: 0;
    left: 0;
    border-radius: 18.19px;
    background-color: #f8f1ff;
  }
  
  .card-heading7 {
    position: absolute;
    top: 30.21%;
    left: 67.31%;
    line-height: 27px;
  }
  
  .repair-tool-24-outline {
    position: absolute;
    height: 48.86%;
    width: 29.06%;
    top: 26.33%;
    right: 55.39%;
    bottom: 24.81%;
    left: 15.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  
  .image-placeholder3 {
    position: absolute;
    height: 19.44%;
    width: 31.21%;
    top: 10.72%;
    right: 60.61%;
    bottom: 69.84%;
    left: 8.18%;
    font-size: var(--text-lg-semibold-size);
    color: var(--neutral-n70);
  }
  
  .card9 {
    position: relative;
    width: 352.91px;
    height: 337.45px;
  }
  
  .container10 {
    position: absolute;
    height: 100%;
    width: 43.05%;
    top: 0;
    right: 56.95%;
    bottom: 0;
    left: 0;
    border-radius: 18.19px;
    background-color: #f3f6ff;
  }
  
  .card-heading9 {
    position: absolute;
    top: 30.21%;
    left: 48.73%;
    line-height: 27px;
  }
  
  .document-24-outline {
    position: absolute;
    height: 48.86%;
    width: 21.03%;
    top: 26.33%;
    right: 67.7%;
    bottom: 24.81%;
    left: 11.26%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  
  .image-placeholder4 {
    position: absolute;
    height: 19.44%;
    width: 43.11%;
    top: 10.72%;
    right: 48.71%;
    bottom: 69.84%;
    left: 8.18%;
    font-size: var(--text-lg-semibold-size);
    color: var(--neutral-n70);
  }
  
  .container12 {
    position: absolute;
    height: 100%;
    width: 33.22%;
    top: 0;
    right: 66.78%;
    bottom: 0;
    left: 0;
    border-radius: 18.19px;
    background-color: #fae6e0;
    opacity: 0.6;
  }
  
  .card-heading11 {
    position: absolute;
    top: 30.21%;
    left: 37.61%;
    line-height: 27px;
  }
  
  .check-24-solid {
    position: absolute;
    height: 48.86%;
    width: 16.23%;
    top: 26.33%;
    right: 75.08%;
    bottom: 24.81%;
    left: 8.69%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.5;
  }
  
  .image-placeholder5 {
    position: absolute;
    height: 19.44%;
    width: 55.86%;
    top: 10.72%;
    right: 35.96%;
    bottom: 69.84%;
    left: 8.18%;
    font-size: var(--text-lg-semibold-size);
    color: var(--neutral-n70);
  }
  
  .items1,
  .wrapper1 {
    display: flex;
    justify-content: flex-start;
  }
  
  .items1 {
    flex-direction: row;
    align-items: flex-start;
    gap: 26px;
    text-align: left;
  }
  
  .wrapper1 {
    flex-direction: column;
    align-items: center;
    gap: var(--gap-13xl);
  }
  
  .first-name {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    font-weight: 500;
  }
  
  .input-with-label1,
  .input2 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  
  .input2 {
    border-radius: var(--br-5xs);
    box-shadow: var(--shadow-xs);
    border: 1px solid var(--color-gray-100);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xs);
  }
  
  .input-with-label1 {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .input-parent,
  .input1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .input1 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  
  .input-parent {
    width: 550px;
    flex-direction: row;
    gap: var(--gap-base);
  }
  
  .email {
    position: relative;
    line-height: 24px;
    font-weight: 500;
  }
  
  .input-with-label3 {
    width: 550px;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .input-with-label3,
  .input5,
  .input8 {
    display: flex;
    justify-content: flex-start;
  }
  
  .input5 {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-5xs);
  }
  
  .input8 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    box-shadow: var(--shadow-xs);
    border: 1px solid var(--color-gray-100);
    box-sizing: border-box;
    height: 117px;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xs);
  }
  
  .frame-parent,
  .input-with-label4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .input-with-label4 {
    width: 550px;
    height: 117px;
    align-items: flex-end;
  }
  
  .frame-parent {
    align-items: flex-start;
    gap: var(--gap-base);
    text-align: left;
  }
  
  .resources1,
  .wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .wrapper2 {
    width: 1067px;
    justify-content: flex-start;
    gap: var(--gap-13xl);
  }
  
  .resources1 {
    background-color: var(--neutral-n0);
    width: 1440px;
    overflow: hidden;
    justify-content: center;
    padding: var(--padding-61xl) 0;
    box-sizing: border-box;
  }
  
  .unsplashsppsfbcan2a-icon {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  
  .overlay-1,
  .overlay-2,
  .unsplashsppsfbcan2a-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .overlay-1 {
    background-color: var(--neutral-n100);
    opacity: 0.8;
  }
  
  .overlay-2 {
    background: linear-gradient(135deg, #3387d7, #093157);
    opacity: 0.5;
    mix-blend-mode: normal;
  }
  
  .footer-title {
    position: relative;
    line-height: 20px;
    font-weight: 600;
  }
  
  .campaigns {
    position: relative;
    line-height: 18px;
  }
  
  .master-link9 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-7xs);
  }
  
  .links-group {
    flex-direction: column;
    gap: var(--gap-base);
    text-align: center;
    font-size: var(--font-size-sm);
    font-family: var(--body-b2-bold);
  }
  
  .footer-content,
  .footer-section,
  .links-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .footer-section {
    flex-direction: column;
    gap: var(--gap-13xl);
  }
  
  .footer-content {
    position: absolute;
    height: 80.22%;
    width: 42.3%;
    top: 4.86%;
    right: 0;
    bottom: 14.92%;
    left: 57.7%;
    flex-direction: row;
    gap: 80px;
  }
  
  .footer-description {
    position: absolute;
    width: 100%;
    top: 42.64%;
    left: 0;
    line-height: 21px;
    display: inline-block;
  }
  
  .social-media-icon-squaretwitt {
    position: relative;
    border-radius: var(--br-81xl);
    width: 36px;
    height: 36px;
  }
  
  .social-media-container {
    position: absolute;
    height: 16.79%;
    width: 46.05%;
    top: 83.21%;
    right: 53.95%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  
  .company-logo-icon6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 237px;
    height: 71px;
  }
  
  .frame,
  .wrapper3 {
    position: absolute;
    height: 214.42px;
  }
  
  .frame {
    top: 0;
    left: 0;
    width: 304px;
    overflow: hidden;
    font-size: var(--font-size-sm);
  }
  
  .wrapper3 {
    top: 136px;
    left: 165px;
    width: 1111px;
  }
  
  .unsplashsppsfbcan2a-parent {
    position: relative;
    width: 1440px;
    height: 480px;
  }
  
  .copyright1 {
    position: relative;
    line-height: 21px;
  }
  
  .cc-logo-icon {
    position: relative;
    width: 105px;
    height: 25px;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .contatiner,
  .wrapper4 {
    display: flex;
    flex-direction: row;
  }
  
  .wrapper4 {
    align-self: stretch;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 0;
  }
  
  .contatiner {
    align-items: center;
    justify-content: center;
  }
  
  .copyright,
  .footer,
  .homepage,
  .scroll-to-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border: solid 1px;
    padding: 10px;
    border-radius: 50%;
  }
  
  .scroll-to-top:hover {
    background-color: #3387d7;
  }
  
  .copyright,
  .footer,
  .homepage {
    justify-content: flex-start;
  }
  
  .copyright {
    align-self: stretch;
    background-color: var(--color-ghostwhite-100);
    height: 94px;
    padding: var(--padding-13xl) 164px;
    box-sizing: border-box;
    position: relative;
    gap: 10px;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--neutral-n60);
  }
  
  .footer,
  .homepage {
    background-color: var(--neutral-n0);
    text-align: left;
    color: var(--neutral-n0);
  }
  
  .homepage {
    position: relative;
    width: 100%;
    align-items: flex-end;
    text-align: center;
    font-size: var(--body-b2-bold-size);
    color: var(--neutral-n100);
    font-family: var(--text-xl-regular);
  }
  
  
  /* Styles for the carousel container */
  .who-we-are {
    width: 100%;
    overflow: hidden;
  }
  
  /* Styles for the arrow icons */
  .arrow-back-ios-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow-forward-icon {
    cursor: pointer;
  }
  
  /* Styles for the company logo carousel */
  .company-logo-carousel {
    display: flex;
    overflow: hidden;
  }
  
  .company-logo-icon {
    width: 100px;
    /* Adjust the width of the logos as needed */
    margin: 0 10px;
    /* Adjust the margin between logos as needed */
    transition: transform 0.5s ease-in-out;
  }
  
  
  /* Initially hide the dropdown menu */
  #dropdown-menu {
    display: none;
  }
  
  /* Style for the dropdown link */
  .button-base {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  
  .content17 {
    flex: 1;
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-5xl) var(--padding-xl);
    gap: var(--gap-5xs);
  }
  
  .content17,
  .nav-menu-item,
  .text-and-supporting-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }